{% extends 'base.html.twig' %}

{% block title %}Hello MNServantClassController!{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1>Derniers contenus{% if servantClass is defined %} parues dans {{ servantClass.title }}{% endif %}</h1>

        <p>
            Revenir à <a href="{{ url('mn_throne_of_heroes') }}" title="Revenir à la liste des servants">liste des servants</a>.
            </p>
         {% if throne_of_heroes is defined and throne_of_heroes is not empty and throne_of_heroes is iterable %}
            <ul>
                {% for article in throne_of_heroes %}
                    <li>
                        <h3>{{ article.name }}</h3>
                        <div class="servantClass-content">
                            {{ article.noblePhantasm|raw }}
                        </div>
                        <div class="servantClass-category">
                            {% if article.servantClass.title is defined %}
                                Publié dans {{ article.servantClass.title }}.
                            {% else %}
                                Ce contenu n'est pas associé à une classe.
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
         {% endif %}
    </div>
{% endblock %}
