{% extends 'base.html.twig' %}

{% block title %}Hello MNNewsController!{% endblock %}

{% block content %}
    <div class="news-container">
        {% if throneOfHeroes is defined and throneOfHeroes is not empty %}

            <h1>{{ throneOfHeroes.name }}</h1>

            <p>
                Revenir à <a href="{{ url('mn_throne_of_heroes') }}" title="Revenir à la liste des servants">liste des servants</a>.
            </p>
            
            <p>
                Revenir à <a href="{{ url('frontoffice_mn_throne_of_heroes_servantClass', {'servantClass': throneOfHeroes.servantClass.id}) }}" title="Revenir à la liste des servants">la classe {{ throneOfHeroes.servantClass.title }}</a>.
            </p>

            <div class="throneOfHeroes-content">
                {{ throneOfHeroes.noblePhantasm|raw }}
            </div>

            <div class="throneOfHeroes-servantClass">
                {% if throneOfHeroes.servantClass is defined %}
                    Publié dans <a href="{{ url('frontoffice_mn_throne_of_heroes_servantClass', {'servantClass': throneOfHeroes.servantClass.id}) }}" title="ServantClass" : {{ throneOfHeroes.servantClass.title }}">{{ throneOfHeroes.servantClass.title }}</a>.
                {% else %}
                    Ce contenu n'est pas associé à une classe.
                {% endif %}
            </div>
                   
        {% endif %}
    </div>
{% endblock %}
