<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('images/logo.png') }}">
        <title>{% block title %}Fate Grand Order !{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/stylesheet.css') }}" />
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav>
                <ul>
                    <li> <a href=/> <img src="{{ asset('images/Fate_Grand_Order_Logo.png') }}" alt="Logo_FGO"> </a> </li>
                    {% if app.user is null or (app.user.roles[0] is defined and app.user.roles[0] == "ROLE_USER") %}
                        <li> <a href=/contact>Contact</a> </li>
                        <li> <a href=/funnystuff>FunnyStuff</a> </li>
                        <li> <a href=/throne_of_heroes>Throne of heroes</a> </li>
                        <li> <a href=/news>News</a> </li>
                        <li> <a href=/challengeQuest>Challenge Quest</a> </li>
                        <li> <a href=/challengeSolo>Challenge Solo</a> </li>
                    <!-- Vérifier si la personne est connecté et mettre Connexion/Déconnexion -->
                        {% if app.user is null %}
                            <li> <a href=/login>Connexion</a> </li>
                            <li> <a href=/register>Inscription</a> </li>

                        {% endif %}
                    {% endif %}

                    {% if app.user != null %}
                        {% if app.user.roles[1] is defined and app.user.roles[1] == "ROLE_ADMIN" %}
                            <li><a href=/admin/user>Users</a></li>
                            <li><a href=/admin/category>Category</a></li>
                            <li><a href=/admin/servant_class>Class</a></li>
                            <li> <a href=/admin/funnystuff>FunnyStuff</a> </li>
                            <li> <a href=/admin/throne_of_heroes>Throne of heroes</a> </li>
                            <li> <a href=/admin/news>News</a> </li>
                            <li> <a href=/admin/challengeQuest>Challenge Quest</a> </li>
                            <li> <a href=/admin/challengeSolo>Challenge Solo</a> </li>
                        {% endif %}
                    {% endif %}

                    {% if app.user != null %}
                        <li>
                            <p> Welcome {{ app.user.username }} </p>
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
        {% endblock %}

        {% block content %}
        {% endblock %}

    </body>

    <footer>
        {% block footer %}

        {% endblock %}
    </footer>
</html>
