{% extends 'base.html.twig' %}

{% block title %}Hello MNFunnystuffController!{% endblock %}

{% block content %}
    <div class="example-wrapper">

        {% if funnystuffs is defined and funnystuffs is not empty and funnystuffs is iterable %}
            <ul>
                {% for article in funnystuffs %}
                    <li>
                        <h3><a href="{{ url('frontoffice_m_n_funnystuffs_view', {'funnystuffs': article.id}) }}" title="Lire la suite">{{ article.title }}</a></h3>
                        <div class="funnystuffs-date">Publié le {{ article.createdAt|date('d/m/Y à h:i') }}</div>
                        <div class="funnystuffs-content">
                            {{ article.body|striptags|slice(0,150)|raw }}[...]
                        </div>
                        <div class="funnystuffs-category">
                            {% if article.category is defined %}
                                Publié dans <a href="{{ url('frontoffice_m_n_funnystuffs_category', {'category': article.category.id}) }}" title="Catégorie : {{ article.category.title }}">{{ article.category.title }}</a>.
                            {% else %}
                                Ce contenu n'est pas associé à une catégorie.
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
