{% extends 'base.html.twig' %}

{% block title %}Hello MNNewsController!{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1>Dernières actualités{% if category is defined %} parues dans {{ category.title }}{% endif %}</h1>

        <p>
            Revenir à <a href="{{ url('frontoffice_m_n_news') }}" title="Revenir à la liste des actualités">liste des actualités</a>.
        </p>

        {% if news is defined and news is not empty and news is iterable %}
            <ul>
                {% for article in news %}
                    <li>
                        <h3>{{ article.title }}<h3/>
                        <div class="news-date">Publié le {{ article.createdAt|date('d/m/Y à h:i') }}</div>
                        <div class="news-content">
                            {{ article.body|raw }}
                        </div>
                        <div class="news-category">
                            {% if article.category.title is defined %}
                                Publié dans {{ article.category.title }}.
                            {% else %}
                                Ce contenu n'est pas associé à une catégorie.
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
